<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loan.dao.AdminPasswordMapper">
  <resultMap id="BaseResultMap" type="com.loan.dataobject.AdminPassword">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ciphertext" jdbcType="VARCHAR" property="ciphertext" />
    <result column="admin_id" jdbcType="INTEGER" property="adminId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, ciphertext, admin_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from admin_password
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--通过adminId查询AdminPassword-->
  <select id="selectByAdminId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from admin_password
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from admin_password
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.loan.dataobject.AdminPassword">
    insert into admin_password (id, ciphertext, admin_id
      )
    values (#{id,jdbcType=INTEGER}, #{ciphertext,jdbcType=VARCHAR}, #{adminId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.loan.dataobject.AdminPassword">
    insert into admin_password
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ciphertext != null">
        ciphertext,
      </if>
      <if test="adminId != null">
        admin_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ciphertext != null">
        #{ciphertext,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        #{adminId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.loan.dataobject.AdminPassword">
    update admin_password
    <set>
      <if test="ciphertext != null">
        ciphertext = #{ciphertext,jdbcType=VARCHAR},
      </if>
      <if test="adminId != null">
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.loan.dataobject.AdminPassword">
    update admin_password
    set ciphertext = #{ciphertext,jdbcType=VARCHAR},
      admin_id = #{adminId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--通过admin_id修改密码-->
  <update id="updateCiphertextByAdminId">
    update admin_password
    set ciphertext = #{arg0}
    where admin_id = #{arg1}
  </update>

</mapper>