<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loan.dao.RepaymentIntegralMapper">
  <resultMap id="BaseResultMap" type="com.loan.dataobject.RepaymentIntegral">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="time" jdbcType="DATE" property="time" />
    <result column="out_value" jdbcType="INTEGER" property="outValue" />
    <result column="client" jdbcType="INTEGER" property="client" />
    <result column="enter_value" jdbcType="INTEGER" property="enterValue" />
  </resultMap>
  <sql id="Base_Column_List">
    id, time, out_value, client, enter_value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from repayment_integral
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--通过id查询out_value的值-->
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from repayment_integral
    where client = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from repayment_integral
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.loan.dataobject.RepaymentIntegral">
    insert into repayment_integral (id, time, out_value, 
      client, enter_value)
    values (#{id,jdbcType=INTEGER}, #{time,jdbcType=DATE}, #{outValue,jdbcType=INTEGER}, 
      #{client,jdbcType=INTEGER}, #{enterValue,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.loan.dataobject.RepaymentIntegral">
    insert into repayment_integral
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="outValue != null">
        out_value,
      </if>
      <if test="client != null">
        client,
      </if>
      <if test="enterValue != null">
        enter_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="time != null">
        #{time,jdbcType=DATE},
      </if>
      <if test="outValue != null">
        #{outValue,jdbcType=INTEGER},
      </if>
      <if test="client != null">
        #{client,jdbcType=INTEGER},
      </if>
      <if test="enterValue != null">
        #{enterValue,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.loan.dataobject.RepaymentIntegral">
    update repayment_integral
    <set>
      <if test="time != null">
        time = #{time,jdbcType=DATE},
      </if>
      <if test="outValue != null">
        out_value = #{outValue,jdbcType=INTEGER},
      </if>
      <if test="client != null">
        client = #{client,jdbcType=INTEGER},
      </if>
      <if test="enterValue != null">
        enter_value = #{enterValue,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.loan.dataobject.RepaymentIntegral">
    update repayment_integral
    set time = #{time,jdbcType=DATE},
      out_value = #{outValue,jdbcType=INTEGER},
      client = #{client,jdbcType=INTEGER},
      enter_value = #{enterValue,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>